.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important;
}

.testimonialSwiper img {
    all: unset;
    width: 50px;
    border-radius: 50%;
}